
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
  display: flex;
  background-color: #1a1919;
  flex-direction: row;
  align-content: center;
  padding: 5px;
  justify-content: space-between;
}

nav ul{
  list-style-type: none;
}

nav a{
  text-decoration: none;
  color: white;
}

nav ul li{
  display: inline-block;
  padding: 10px;
}

.features {
  padding: 3px;
  margin-left: 1em;
}

.features ul li{
  display: inline;
}

nav a.is-active{
  font-weight: bold;
  pointer-events: none;
  background-color: #1f1e63;
  color: rgb(252, 248, 250);
  padding: 3px;
  border-radius: 5px;
}

ul{
  list-style-type: none;
}

h1, h2, h5, h6, p{
  color: white;
}

img {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}